@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #3d5a80;
  --color-secondary: #98c1d9;
  --color-tertiary: #e0fbfc;
  --color-accent: #ee6c4d;
}
/* width */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply shadow bg-primary/75;
}
